
{% extends "base.html" %}

{% block content %}
    <div id="addword">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="add" />
        </form>
    </div>
    <div id="words-content">
        {% for word in words %}
            <div class="word" data-wid="{{ word.id }}" style="
                    font-family: 'American Typewriter';
                    position: absolute;
                    top: {{ word.top }}%;
                    left: {{ word.left }}%;
                    font-size: {{ word.size }}em;
                    z-index: {{ word.zindex }};
                    {% if word == last_word %}
                        color: red;
                    {% endif %}
                ">{{ word.word }}</div>
        {% endfor %}
    </div>
    <div id="timeline">
    </div>

    {% load staticfiles %} 
    <script type="text/javascript" src="{% static 'words/js/lib/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'words/js/lib/nouislider.min.js' %}"></script>
    <script>
        var update_timeline = function(start, stop) {
            $(".word").each(function() {
                var wid = parseInt($(this).attr("data-wid"));
                if (wid < start || wid > stop)
                    $(this).fadeOut();
                else
                    $(this).fadeIn();
            });

        }
        var range = $("#timeline")[0];

        noUiSlider.create(range, {
            start: [ {{ start }} , {{ stop }} ], // Handle start position
            step: 1, // Slider moves in increments of '10'
            margin: 0, // Handles must be more than '20' apart
            connect: true, // Display a colored bar between the handles
            direction: 'ltr', // Put '0' at the bottom of the slider
            behaviour: 'tap-drag', // Move handle on tap, bar is draggable
            range: { // Slider can select '0' to '100'
                'min': 0,
                'max': {{ stop }}
            },
            pips: { // Show a scale with the slider
                mode: 'positions',
                values: [0, 100],
                stepped: false,
                density: 100,
            }
        });

        range.noUiSlider.on('change', function() {
            update_timeline(range.noUiSlider.get()[0], range.noUiSlider.get()[1]);
        });

        $(document).ready(function() {
            $("#id_word").focus();
        });
    </script>
    <style>
        @font-face {
            font-family: "American Typewriter";
            src: url("{% static 'words/fonts/AmericanTypewriter.ttf' %}");
        }
        .hidden {
            display: none;
        }

        #timeline {
            position: absolute;
            left: 40px;
            right: 40px;
            bottom: 40px;
        }
        #words-content {
            position: absolute;
            top: 55px;
            left: 0px;
            right: 0px;
            bottom: 40px; 
        }
        #addword {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 55px;
            text-align: center;
            font-family: "American Typewriter";
        }
        #addword input {
            border-color: black;
            border-width: 1px;
            font-family: "American Typewriter";
            height: 25px;
            width: 25%;
            margin: 0px;
            margin-top: 15px;
            padding: 0px;
            padding-left: 5px;
        }
        #addword input[type="submit"] {
            background-color: black;
            color: white;
        }
        .noUi-target {
            height: 8px;
        }
        .noUi-connect {
            background-color: black;
        }
        .noUi-handle {
            zoom: 50%;
        }
        .noUi-value {
            font-size: 0.8em;
            font-family: "American Typewriter";
            color: black:
        }
        .noUi-marker {
            display: none;
        }
    </style>
{% endblock %}
