<!DOCTYPE html>

{% load staticfiles %}

<head>
    <title>Words</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'words/css/lib/nouislider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'words/css/src/style.css' %}">
    
    <script type="text/javascript" src="{% static 'words/js/lib/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'words/js/lib/nouislider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'words/js/src/words.js' %}"></script>

</head>

<body>
    {% block content %}

    {% endblock %}
</body>

</html>

